{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- custom js & css -->
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>{{pokemon.name}}</title>
</head>
<body>
  <div id="cards"> 
    {% if pre %}
    <figure class="card card--{{pre.type}}">
      <div class="card__image-container">
        <img src={{pre.image}} alt="Eevee" class="card__image" width="175" height="150">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">{{pre.name}}</h1>
    
        <h3 class="card__type">
          {{pre.type}}
        </h3>
    
        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>{{pre.stats.hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{pre.stats.attack}}</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>{{pre.stats.defense}}</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>{{pre.stats.sattack}}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{pre.stats.sdefense}}</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>{{pre.stats.speed}}</td>
          </tr>
        </tbody></table>
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Height</span>
            {{pre.height}}
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Weight</span>
            {{pre.weight}}
          </h4>
        </div>
      </figcaption>
    </figure>
    <img src={% static 'pre-evolution.png' %} alt="Eevee"  width="150" style="margin-bottom: 350px;">
    {% endif %}

    <figure class="card card--{{pokemon.type}}">
      <div class="card__image-container">
        <img src={{pokemon.image}} alt="Eevee" class="card__image" width="175" height="150">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">{{pokemon.name}}</h1>
    
        <h3 class="card__type">
          {{pokemon.type}}
        </h3>
    
        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>{{pokemon.stats.hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{pokemon.stats.attack}}</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>{{pokemon.stats.defense}}</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>{{pokemon.stats.sattack}}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{pokemon.stats.sdefense}}</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>{{pokemon.stats.speed}}</td>
          </tr>
        </tbody></table>
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Height</span>
            {{pokemon.height}}
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Weight</span>
            {{pokemon.weight}}
          </h4>
        </div>
      </figcaption>
    </figure>
    {% if ev %}
    <img src={% static 'evolution.png' %} alt="Eevee" class="card__image" width="150"  style="margin-bottom: 350px;">
    <figure class="card card--{{ev.type}}">
      <div class="card__image-container">
        <img src={{ev.image}} alt="Eevee" class="card__image" width="175" height="150">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">{{ev.name}}</h1>
    
        <h3 class="card__type">
          {{ev.type}}
        </h3>
    
        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>{{ev.stats.hp}}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{ev.stats.attack}}</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>{{ev.stats.defense}}</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>{{ev.stats.sattack}}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{ev.stats.sdefense}}</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>{{ev.stats.speed}}</td>
          </tr>
        </tbody></table>
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Height</span>
            {{ev.height}}
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Weight</span>
            {{ev.weight}}
          </h4>
        </div>
      </figcaption>
    </figure>
   
    {% endif %}
  </div>
      
    <div class="m-4">
        <h6 class="text-center">Alejandro López • <a target="_blank" href="https://github.com/alejolo311">Github</a> • <a target="_blank" href="https://www.linkedin.com/in/alejolo311/">Linkedin</a></h6>
    </div>
</body>
</html>